[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
orjson = "*"
pydantic = "*"
colorama = "*"
click = "*"
rich = "*"

[dev-packages]
uvicorn = "*"
build = "*"

[requires]
python_version = "3.12"
