[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
orjson = "*"
pydantic = "*"
colorama = "*"
click = ">=8.3.3"
rich = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[dev-packages]
uvicorn = "*"
build = "*"
pip-audit = "*"

[requires]
python_version = "3.12"
